

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
}

:root {
    --color-primary: #ed1c23;
    --color-secondary: #212121;
    --color-tertiary: #f5f5f5;
}

html {
    font-size: 10px;
}

body {
    /* background-color: red; */
}

h1, h2 {
    font-family: 'DM Serif Display';
    font-weight: 100;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url("docs/imgs/1291845128.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

header h1 {
    padding-top: 25vh;
    font-size: 5rem;
    color: var(--color-primary);
}

header p {
    padding-top: 10vh;
    font-size: 1rem;
    color: white;
}

section {
    min-height: 100vh;
    padding: 2rem;
    margin: 1rem 0;
}

section h1 {
    text-align: center;
    font-size: 4rem;
}

section p, section li {
    color: var(--color-secondary);
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 0;
}

section img {
    width: 100%;
    margin: 1rem 0;
}

.target {
    margin: 1rem 0;   
}

.target h2 {
    text-align: center;
}

.purpose {
    margin: 1rem 0;
}

.purpose ul{
    margin: 0 2rem;
}

.dev {
    margin: 1rem 0;
}

.dev ul{
    margin: 0 2rem;
}

.dev ol {
    margin-left: 2rem;
}

#dev {
    background-color: var(--color-tertiary);
}

footer {
    padding: 2rem;
}

footer p {
    line-height: 2rem;
    color: var(--color-secondary);
}