@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('http://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


:root {
    --color-primary: #f64646;
    --color-primary-light: #ffe0e0;
    --color-secondary: #333;
    --color-white: #fff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

html {
    font-size: 10px;
}

body {
    /* background-color: black; */
}

p {
    font-size: 1.5rem;
    color: var(--color-black);
}

nav {
    min-height: 2vh;
    background-color: var(--color-white);
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgrey;
    z-index: 999;
}

nav img {
    margin: auto;
    padding: 0.5rem;
}

header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(docs/imgs/1291845128.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    /* position: relative; COOL EFFECT*/ 
}

.header-box {
    margin: auto auto 0 auto;
    text-align: center;
}

.header-box * {
    margin: 1rem;
}

.header-box h1 {
    color: var(--color-white);
    font-size: 8rem;
    font-family: 'DM Serif Display';
    font-weight: 100;
}

.header-box img {
    width: 36rem;
}

.header-box p {
    margin-top: 18vh;
    color: var(--color-white);
    font-size: 1.2rem;
}

section {
    padding: 10rem 10rem;
}

section h1 {
    font-family: 'DM Serif Display';
    font-size: 6rem;
    font-weight: 100;
}

.box {
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.columns div, .columns img {
    max-width: 50%;
}

.columns p {
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 2.5rem;
}

.columns img {
    object-fit: cover;
    height: 50rem;
    width: 50rem;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border: 1px solid var(--color-primary);
}

#target {
    margin-left: 0;
    background-color: var(--color-primary-light);
    min-height: min-content;
    padding: 5rem;
}

#target {
    text-align: center;
}

#target p {
    color: var(--color-secondary);
}

.columns ul {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.columns li {
    margin: 1rem 0;
    list-style-type: circle;
    color: var(--color-secondary);
    line-height: 3rem;
}

.columns ol li{
    margin-left: 2rem;
    list-style-type:decimal;
}

footer {
    background-color: var(--color-primary-light);
    padding: 10rem;  
}

footer h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'DM Serif Display';
    font-weight: 100;
    letter-spacing: 10px;
    color: var(--color-primary);
}